@import "partials/layout";
@import "partials/spacing";
@import "partials/typography";
@import "partials/forms";
@import "partials/components/index";
@import "partials/_tables";


* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: arial, sans-serif;
  font-size: large;
  background-color: $gallery;
}