@import "../../modules/colors";


/**
 * A bar component that positions it's items horizontally using flexbox.
 * This component is positioned relative so it can be used as an anchor point for any
 * child elements that need to be absolutely positioned.  navbar-item and navbar-nav classes
 * should not be positioned relative so that `ribbon` menu will work correctly.  If you want an
 * item to be an anchor point itself it should have the dropdown class.
 */
.navbar {
  background-color: $calypso;
  color: $white;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  height: 2rem;

  &.navbar-lg {
    height: 2.5rem;
  }

  &.navbar-secondary {
    background-color: $silver;
    color: $black;
  }
}


.navbar-item, .navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: $white;
}


.navbar-nav {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: darken($calypso, 10%);
  }
}


/**
 * Menubar items that are also a navbar-item
 */
.navbar-item.menuitem.active {
  background-color: darken($calypso, 10%);
}