.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.25rem;
  }

  .page-btn {
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0 0.1rem;
  }

  input[name='page'] {
    margin: 0 0.25rem;
    width: 3rem;
  }
}