@import "../modules/variables";
@import "../modules/colors";


.hbox {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}


.vbox {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


@for $i from 1 through $panes-range {
  .pane-#{$i} {
    flex: $i;
    overflow: hidden;
    position: relative;
  }
}


.pane {
  position: relative;
  overflow: hidden;
}


.fluid {
  width: 100% !important;
  height: 100% !important;
}


.fluid-width {
  width: 100% !important;
}


.fluid-height {
  height: 100% !important;
}


.fill {
  min-width: 100% !important;
  min-height: 100% !important;
}


.fill-width {
  min-width: 100% !important;
}


.fill-height {
  min-height: 100%;
}


.align-middle {
  align-items: center;
}


.sidebar-pane {
  background-color: $white;
  width: 250px;
  min-width: 100px;
}


.scroll-xy {
  overflow: scroll;
}


.viewport {
  overflow: hidden;
}