@import "../modules/variables";


.text-right {
  text-align: right;
}


.text-center {
  text-align: center;
}


@each $size in $font-sizes {
  $index: index($font-sizes, $size);

  .display-#{$index} {
    font-size: #{$size}em;
    font-weight: 700;
    display: block;
  }

  h#{$index}, .h#{$index} {
    font-size: #{$size}em;
    font-weight: 700;
    display: block;
  }
}


.bold {
  font-weight: 700;
}


.small {
  font-size: 0.8rem;
}


.x-small {
  font-size: 0.7rem;
}