<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../dist/menu.bundle.js"></script>
    <link type="text/css" rel="stylesheet" href="../dist/css/style.css" />
</head>
<body data-init="toggle">


<div class="navbar navbar-main navbar-inline navbar-top">
    <ul class="menubar" data-role="menu" data-init="menu" data-auto-activate="false" data-timeout="3000">
        <li class="menuitem" data-role="dropdown">
            <a>Tools</a>
            <div class="menu" data-role="menu">
                <ul class="list list-inline">
                    <li class="menuitem" data-role="item"><a href="#">Cost Match Tool</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>


</body>
</html>