<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../dist/vortex.bundle.js"></script>
    <link type="text/css" rel="stylesheet" href="../dist/css/style.css" />
</head>
<body data-init="toggle">


<div class="navbar navbar-main navbar-inline navbar-top mb-2">
    <ul class="menubar" data-role="menu" data-init="menu" data-auto-activate="false" data-timeout="3000">
        <li class="menuitem" data-role="dropdown">
            <a>Tools</a>
            <div class="menu" data-role="menu">
                <ul class="list list-inline">
                    <li class="menuitem" data-role="item"><a href="#">Cost Match Tool</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>



<div class="modal" id="test-modal" data-init="modal">
    <div class="modal-window">
        <div class="modal-head hbox">
            <div class="pane-1 modal-title">Test Modal</div>
            <div class="pane-1 text-right"><i data-action="dismiss">Dismiss</i></div>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer hbox">
            <div class="pane-1"></div>
            <div class="pane-1 text-right">
                <button type="button">Cancel</button>
                <button type="button">Save</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>